<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>
        </title>
       <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="index">
        <div class="header">
                <ul>
                    <li> <h2 style="margin-top:15px; margin-right: 100px;"><a href="Index.html">ShutterStock</a></h2> </li>
                    <i class="fa fa-search" style="background: white; color: black; padding: 4.5px;"></i><input style="padding: 2.5px; border:0px; position: relative; top: -2px;" type="text" placeholder="Belanja Sepatu disini">
                    <li style="float:right; margin-top: 0px;"><a href="Daftar.html">Daftar</a></li>
                    <li style="float:right; margin-top: 0px;"><a href="Login.html">Login</a></li>
                </ul>
            </div>
    
            <div class="menu">
                <ul>
                    <li href="select">Kategori</li>
                    <li>Promo</li>
                    <li>Jualan Sepatu</li>
                    <li style="float:right;">Tentang Kami</li>
                    <li style="float:right">Bantuan</li>
                    <li style="float:right">Notifikasi</li>
                </ul>
            </div>
    
            <img class="img5" src="1.jpg">
            <img class="img1" src="sneakers-shoes-horizontal-seamless-pattern-450w-296346296.jpg">
            <img class="img2" src="sneakers-shoes-horizontal-seamless-pattern-450w-296346296.jpg">
    
            <!-- <div class="select">
                Kategori
            </div> -->
            <h3 style="font-size: 28px; padding: 10px; margin-left: 20px;"> Kategori & Promo </h3>
            <img class="img9" src="Adidas.jpg">
            <img class="img10" src="Nikee.jpg">
            <img class="img11" src="Puma.jpg">
            <img class="img12" src="rebok.jpg">
            <img class="img13" src="Vans.jpg">
        
            <!-- <div class="select1">
                Promo
            </div>         -->
            <img class="img3" src="nike.jpg">
            <img class="img4" src="nike2.jpg">
            <img class="img6" src="adidas1.jpg">
            <img class="img7" src="adidas2.jpg">
            <img class="img8" src="vans1.jpg">
    
            <div class="menu1">
               
                    <button style="border: none; background: grey; color: #fff; padding: 10px; border-radius: 3px;" id="show-modal" @click="showModal = true">Lihat Detail</button>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>

            </div> 
            <div class="menu2">
                    <button style="border: none; background: grey; color: #fff; padding: 10px; border-radius: 3px;" id="show-modal" @click="showModal = true">Lihat Detail</button>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>
            </div>
            <div class="menu3">
                    <button style="border: none; background: grey; color: #fff; padding: 10px; border-radius: 3px;" id="show-modal" @click="showModal = true">Lihat Detail</button>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>
            </div>
            <div class="menu4">
                    <button style="border: none; background: grey; color: #fff; padding: 10px; border-radius: 3px;" id="show-modal" @click="showModal = true">Lihat Detail</button>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>
            </div>
            <div class="menu5">
                    <button style="border: none; background: grey; color: #fff; padding: 10px; border-radius: 3px;" id="show-modal" @click="showModal = true">Lihat Detail</button>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>
            </div>
            
            <div class="footer">
                <p>Copyright 2018 By ShutterStock Indonesia</p>
            </div>
        </div>
        
        <!-- template for the modal component -->
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                <div class="modal-container">
        
                    <div class="modal-header">
                    <slot name="header">
                       Sepatu Keren Banget
                    </slot>
                    </div>
        
                    <div class="modal-body">
                    <slot name="body">
                        RP. 2000000
                    </slot>
                    </div>
        
                    <div class="modal-footer">
                    <slot name="footer">
                       Beli sepatu ini pasti keren
                        <button class="modal-default-button" @click="$emit('close')">
                        OK
                        </button>
                    </slot>
                    </div>
                </div>
                </div>
            </div>
            </transition>
        </script>
  
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script>
            // modal component
            Vue.component('modal', {
                template: '#modal-template'
            })

            new Vue({
                el: '#index',
                data: {
                    showModal: false
                }
            })
        </script>
    </body>
</html>
